<script>
    import { supabase }  from '$lib/supabaseClient'
    import { readable, get } from 'svelte/store'

    export let id
    export let title
    export let content

    async function addComment({target}){
        const formData = new FormData(target)
        const {data,error}= await supabase
            .from('comments')
            .insert({
                content: formData.get('comment'),
                sender: formData.get('sender'),
                post: id
            }) 
            document.getElementById("comment").value = '';
        }

    const comments = readable(null, (set) =>{
        supabase
            .from('comments')
            .select('*')
            .filter('post','eq', id)
            .then(({error, data}) => set(data))    
        // add subscription to supabase logic
        const subs = 
        supabase
            .channel('comments:post=eq.' + id)
            .on('postgres_changes',{ event: '*', schema: '*' }, (payload) => {
                if (payload.eventType === 'INSERT') {
                set([...get(comments), payload.new])
            }
            })           
            .subscribe()
        return () => supabase.removeChannel(subs)     
    })
</script>


<!-- Left Side -->
<div class="flex flex-col rounded-2xl py-8 pl-8 pr-8 h-screen w-96 bg-base-200 ">
    <div class="flex flex-row items-center justify-center h-12">
        <div class="flex items-center justify-center rounded-2xl text-primary-content bg-neutral-content  h-10 w-10">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-6 h-6">
            <path d="M15 1.784l-.796.796a1.125 1.125 0 101.591 0L15 1.784zM12 1.784l-.796.796a1.125 1.125 0 101.591 0L12 1.784zM9 1.784l-.796.796a1.125 1.125 0 101.591 0L9 1.784zM9.75 7.547c.498-.02.998-.035 1.5-.042V6.75a.75.75 0 011.5 0v.755c.502.007 1.002.021 1.5.042V6.75a.75.75 0 011.5 0v.88l.307.022c1.55.117 2.693 1.427 2.693 2.946v1.018a62.182 62.182 0 00-13.5 0v-1.018c0-1.519 1.143-2.829 2.693-2.946l.307-.022v-.88a.75.75 0 011.5 0v.797zM12 12.75c-2.472 0-4.9.184-7.274.54-1.454.217-2.476 1.482-2.476 2.916v.384a4.104 4.104 0 012.585.364 2.605 2.605 0 002.33 0 4.104 4.104 0 013.67 0 2.605 2.605 0 002.33 0 4.104 4.104 0 013.67 0 2.605 2.605 0 002.33 0 4.104 4.104 0 012.585-.364v-.384c0-1.434-1.022-2.7-2.476-2.917A49.138 49.138 0 0012 12.75zM21.75 18.131a2.604 2.604 0 00-1.915.165 4.104 4.104 0 01-3.67 0 2.604 2.604 0 00-2.33 0 4.104 4.104 0 01-3.67 0 2.604 2.604 0 00-2.33 0 4.104 4.104 0 01-3.67 0 2.604 2.604 0 00-1.915-.165v2.494c0 1.036.84 1.875 1.875 1.875h15.75c1.035 0 1.875-.84 1.875-1.875v-2.494z" />
          </svg>
        </div>
        <div class="ml-2 font-bold text-2xl text-primary">Cake</div>
        <div class="ml-2 font-bold text-2xl">Chat</div>
    </div>
            <!-- Channel Settings -->

            <div class="stats shadow mt-10">
  
                <div class="stat">
                  <div class="stat-title">Selamat datang di Grup</div>
                  <div class="stat-value text-2xl">{title} </div>
                  <div class="stat-desc">Mari mengobrol bersama!</div>
                </div>
                
              </div>
            
              <a href="/">
                 <button class="btn gap-2 mt-96"> 
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M2.25 12l8.954-8.955c.44-.439 1.152-.439 1.591 0L21.75 12M4.5 9.75v10.125c0 .621.504 1.125 1.125 1.125H9.75v-4.875c0-.621.504-1.125 1.125-1.125h2.25c.621 0 1.125.504 1.125 1.125V21h4.125c.621 0 1.125-.504 1.125-1.125V9.75M8.25 21h8.25" />
                  </svg>                  
                   Kembali
              </button>
            </a>

            <!-- <div class="flex flex-col space-y-1 mt-2 -mx-2 h-full overflow-y-auto">
                <button
                class="flex flex-row items-center bg-gray-100 hover:bg-base-100  active:bg-primary focus:fill focus:ring focus:ring-primary rounded-xl p-2 ml-2 mr-2 mt-2"
            >
                <div
                class="flex items-center justify-center h-8 w-8 rounded-full text-primary"
                >
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-6 h-6">
                <path fill-rule="evenodd" d="M12.963 2.286a.75.75 0 00-1.071-.136 9.742 9.742 0 00-3.539 6.177A7.547 7.547 0 016.648 6.61a.75.75 0 00-1.152-.082A9 9 0 1015.68 4.534a7.46 7.46 0 01-2.717-2.248zM15.75 14.25a3.75 3.75 0 11-7.313-1.172c.628.465 1.35.81 2.133 1a5.99 5.99 0 011.925-3.545 3.75 3.75 0 013.255 3.717z" clip-rule="evenodd" />
                </svg>
                
                </div>
                <div class="ml-2 text-sm font-semibold">{title}</div>
            </button>
            </div> -->
</div>




<!-- Right Side Message -->
<div class="h-screen w-screen antialiased text-gray-800">
    <div class="flex-row h-full w-full overflow-x-hidden">
      <div class="flex-col flex-auto h-full w p-6 ml-4 mr-8">
        <div class="flex flex-col flex-auto flex-shrink-0 rounded-2xl bg-gray-100 bg-base h-full w-full p-4">
            <div class="w-3/4 text-lg p-2">
                <h1 class="text-xl font-bold text-primary-content">{title}</h1>
        </div>
          <div class="flex flex-col h-full overflow-x-auto mb-4">
            <div class="flex flex-col h-full">
              <div class="grid grid-cols-12 gap-y-2">
                {#if $comments}
                {#each $comments as {sender, content, created_at}}
                  <div class="col-start-1 col-end-8 p-3 rounded-lg">
                    <div class="flex flex-row items-center">
                      <div class="chat chat-start">
                        <div class="chat-image avatar">
                          <div class="w-10 rounded-full">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-10 h-10 text-primary">
                                <path fill-rule="evenodd" d="M11.828 2.25c-.916 0-1.699.663-1.85 1.567l-.091.549a.798.798 0 01-.517.608 7.45 7.45 0 00-.478.198.798.798 0 01-.796-.064l-.453-.324a1.875 1.875 0 00-2.416.2l-.243.243a1.875 1.875 0 00-.2 2.416l.324.453a.798.798 0 01.064.796 7.448 7.448 0 00-.198.478.798.798 0 01-.608.517l-.55.092a1.875 1.875 0 00-1.566 1.849v.344c0 .916.663 1.699 1.567 1.85l.549.091c.281.047.508.25.608.517.06.162.127.321.198.478a.798.798 0 01-.064.796l-.324.453a1.875 1.875 0 00.2 2.416l.243.243c.648.648 1.67.733 2.416.2l.453-.324a.798.798 0 01.796-.064c.157.071.316.137.478.198.267.1.47.327.517.608l.092.55c.15.903.932 1.566 1.849 1.566h.344c.916 0 1.699-.663 1.85-1.567l.091-.549a.798.798 0 01.517-.608 7.52 7.52 0 00.478-.198.798.798 0 01.796.064l.453.324a1.875 1.875 0 002.416-.2l.243-.243c.648-.648.733-1.67.2-2.416l-.324-.453a.798.798 0 01-.064-.796c.071-.157.137-.316.198-.478.1-.267.327-.47.608-.517l.55-.091a1.875 1.875 0 001.566-1.85v-.344c0-.916-.663-1.699-1.567-1.85l-.549-.091a.798.798 0 01-.608-.517 7.507 7.507 0 00-.198-.478.798.798 0 01.064-.796l.324-.453a1.875 1.875 0 00-.2-2.416l-.243-.243a1.875 1.875 0 00-2.416-.2l-.453.324a.798.798 0 01-.796.064 7.462 7.462 0 00-.478-.198.798.798 0 01-.517-.608l-.091-.55a1.875 1.875 0 00-1.85-1.566h-.344zM12 15.75a3.75 3.75 0 100-7.5 3.75 3.75 0 000 7.5z" clip-rule="evenodd" />
                              </svg>
                              </div>
                        </div>
                        <div class="chat-header font-bold text-neutral-focus">
                          <span class="mr-1">{sender}</span>
                          </div>
                        <div class="chat-bubble chat-bubble-neutral mr-8">{content}
                        </div>
                        <div class="chat-footer">
                            <time class="text-xs opacity-50">{created_at[8]}{created_at[9]}-{created_at[5]}{created_at[6]}-{created_at[2]}{created_at[3]}&nbsp;&nbsp;{created_at[11]}{created_at[12]}:{created_at[14]}{created_at[15]}</time>
                        </div>
                      </div>
                    </div>
                  </div>
                {/each}
                {/if}
               </div>
              </div>
            </div>
            <form on:submit|preventDefault={addComment}>
            <div
              class="flex flex-row items-center h-16 rounded-xl bg-white w-full px-4">
              <div>
                <input
                    name="sender"
                    type="varchar"
                    class="border rounded-xl focus:outline-none focus:border-base-200 pl-4 h-10"
                    placeholder="Pengirim"
                  />
              </div>
              <div class="flex-grow ml-4">
                <div class="relative w-full">
                  <input
                    id="comment"
                    name="comment"
                    type="text"
                    class="flex w-full border rounded-xl focus:outline-none focus:border-base-200 pl-4 h-10"
                    placeholder="Ketikan pesan"
                  />
                </div>
              </div>
              <div class="ml-4">
                <button
                  class="font-bold flex items-center justify-center bg-primary hover:bg-neutral rounded-xl text-white px-4 py-1 flex-shrink-0">
                  <span>Kirim
                  </span>
                  <span class="ml-0">
                   </span>
                </button>
              </div>
            </div>
            </form>
          </div>
        </div>
      </div>
    </div>



