<script>

    import Post from '$lib/post.svelte';
import { supabase }  from '$lib/supabaseClient'
    import { readable, get } from 'svelte/store'
 
    /**
	 * @param {{ target: HTMLFormElement | undefined; }} e
	 */
    async function addPost (e){
        const formData = new FormData(e.target)
        const {data,error} = await supabase
            .from('posts')
            .insert({
                title: formData.get('title'),
            })
            e.target.reset();      
    }

    /**
	 * @param {any} [id]
	 */
    const posts = readable(null, (set) =>{
        
        supabase
            .from('posts')
            .select('*')
            .order('title', { ascending: true})
            .then(({error, data}) => set(data)
            )
        // add subscription to supabase logic
        const subscription = 
        supabase
            .channel('posts')
            .on('postgres_changes',{ event: 'INSERT', schema: '*' }, payload => {
                set([...get(posts), payload.new])
            })
            .subscribe()
            return () => supabase.removeChannel(subscription)
    })
   
</script>


<!-- <div class="h-full w-72 overflow-x-hidden"> -->
        <div class="flex flex-col rounded-2xl py-8 pl-8 pr-8 h-screen w-96 bg-base-200 ">
            <div class="flex flex-row items-center justify-center h-12">
                <div class="flex items-center justify-center rounded-2xl text-primary-content bg-neutral-content  h-10 w-10">
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-6 h-6">
                    <path d="M15 1.784l-.796.796a1.125 1.125 0 101.591 0L15 1.784zM12 1.784l-.796.796a1.125 1.125 0 101.591 0L12 1.784zM9 1.784l-.796.796a1.125 1.125 0 101.591 0L9 1.784zM9.75 7.547c.498-.02.998-.035 1.5-.042V6.75a.75.75 0 011.5 0v.755c.502.007 1.002.021 1.5.042V6.75a.75.75 0 011.5 0v.88l.307.022c1.55.117 2.693 1.427 2.693 2.946v1.018a62.182 62.182 0 00-13.5 0v-1.018c0-1.519 1.143-2.829 2.693-2.946l.307-.022v-.88a.75.75 0 011.5 0v.797zM12 12.75c-2.472 0-4.9.184-7.274.54-1.454.217-2.476 1.482-2.476 2.916v.384a4.104 4.104 0 012.585.364 2.605 2.605 0 002.33 0 4.104 4.104 0 013.67 0 2.605 2.605 0 002.33 0 4.104 4.104 0 013.67 0 2.605 2.605 0 002.33 0 4.104 4.104 0 012.585-.364v-.384c0-1.434-1.022-2.7-2.476-2.917A49.138 49.138 0 0012 12.75zM21.75 18.131a2.604 2.604 0 00-1.915.165 4.104 4.104 0 01-3.67 0 2.604 2.604 0 00-2.33 0 4.104 4.104 0 01-3.67 0 2.604 2.604 0 00-2.33 0 4.104 4.104 0 01-3.67 0 2.604 2.604 0 00-1.915-.165v2.494c0 1.036.84 1.875 1.875 1.875h15.75c1.035 0 1.875-.84 1.875-1.875v-2.494z" />
                  </svg>
                </div>
                <div class="ml-2 font-bold text-2xl text-primary">Cake</div>
                <div class="ml-2 font-bold text-2xl">Chat</div>
            </div>
                
                        
          <!-- The button to open modal -->
            <label for="my-modal-4" class="btn btn-sm mt-8">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M12 9v6m3-3H9m12 0a9 9 0 11-18 0 9 9 0 0118 0z" />
                </svg>   
            <span class="ml-2">Baru</span>
            </label>

          <!-- Put this part before </body> tag -->
          <input type="checkbox" id="my-modal-4" class="modal-toggle flex items-center " />
              <label for="my-modal-4" class="modal cursor-pointer flex items-center">
                  <label class="modal-box" for="">
                    <label for="my-modal-4" class="btn btn-sm btn-circle absolute right-2 top-2">✕</label>
                    <h3 class="text-lg font-bold flex justify-center w-full">Tambahkan kanal grup baru!</h3>
                        <div class="form-control flex items-center">
                          
                                <label class="label flex items-center">
                                  <span class="label-text-md w-full">Nama Grup</span>
                                </label>

                                <form id='myForm' on:submit|preventDefault={addPost}>  
                                  <input type="text" placeholder="Nama Grup" name="title" class="input input-bordered flex items-center w-200"/>
                                  <label class="label flex items-center w-full ">
                                  </label> 
                                  <button class="btn flex items-center w-full">Tambah</button>  
                                </form>
                        </div>  
                  </label>
              </label>

              <div class="flex flex-col mt-6">
                <div class="flex flex-row justify-between text-xs">
                  <span class="font-bold text-xl">Grup</span>
                </div>
            </div>

              <!-- Channel Settings -->
              <div class="flex flex-col space-y-1 mt-2 -mx-2 h-full overflow-y-auto">
                {#if $posts}
              {#each  $posts as post}
                  <button
                  class="flex flex-row items-center bg-gray-100 hover:bg-base-100  active:bg-primary focus:fill focus:ring focus:ring-primary rounded-xl p-2 ml-2 mr-2 mt-2"
                >
                  <div
                    class="flex items-center justify-center h-8 w-8 rounded-full text-primary"
                  >
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-6 h-6">
                    <path fill-rule="evenodd" d="M12.963 2.286a.75.75 0 00-1.071-.136 9.742 9.742 0 00-3.539 6.177A7.547 7.547 0 016.648 6.61a.75.75 0 00-1.152-.082A9 9 0 1015.68 4.534a7.46 7.46 0 01-2.717-2.248zM15.75 14.25a3.75 3.75 0 11-7.313-1.172c.628.465 1.35.81 2.133 1a5.99 5.99 0 011.925-3.545 3.75 3.75 0 013.255 3.717z" clip-rule="evenodd" />
                  </svg>
                  
                  </div>
                  <div class="ml-2 text-sm font-semibold"> <a href="/chat/{post.id}">
                    {post.title}</a>
                </div>
                </button>
                {/each}
              {/if}
              </div>
              </div>
              <!-- </div> -->


<!--landing home-->
           

  <div class="hero-content flex-col lg:flex-row-reverse w-3/5 ml-24 mr-10">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48" fill="currentColor" class="w-36 h-36">
      <path d="M4.913 2.658c2.075-.27 4.19-.408 6.337-.408 2.147 0 4.262.139 6.337.408 1.922.25 3.291 1.861 3.405 3.727a4.403 4.403 0 00-1.032-.211 50.89 50.89 0 00-8.42 0c-2.358.196-4.04 2.19-4.04 4.434v4.286a4.47 4.47 0 002.433 3.984L7.28 21.53A.75.75 0 016 21v-4.03a48.527 48.527 0 01-1.087-.128C2.905 16.58 1.5 14.833 1.5 12.862V6.638c0-1.97 1.405-3.718 3.413-3.979z" />
      <path d="M15.75 7.5c-1.376 0-2.739.057-4.086.169C10.124 7.797 9 9.103 9 10.609v4.285c0 1.507 1.128 2.814 2.67 2.94 1.243.102 2.5.157 3.768.165l2.782 2.781a.75.75 0 001.28-.53v-2.39l.33-.026c1.542-.125 2.67-1.433 2.67-2.94v-4.286c0-1.505-1.125-2.811-2.664-2.94A49.392 49.392 0 0015.75 7.5z" />
    </svg>

    <div>
      <h2 class="text-3xl font-bold">Selamat datang di</h2>
      <h1 class="text-7xl font-bold">CakeChat!</h1>
      <p class="py-2">Mengobrol asyik tentang apapun dan dengan siapapun</p>
      <!-- <button class="btn btn-primary">Get Started</button> -->
    </div>
  </div>
















              <!-- <div class="flex flex-col justify-center ml-72">
         
                <div class="flex flex-row justify-between text-xs">
                  <span class="font-bold text-xl">Grup</span>
                </div>
            </div>
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-6 h-6">
                <path fill-rule="evenodd" d="M12.963 2.286a.75.75 0 00-1.071-.136 9.742 9.742 0 00-3.539 6.177A7.547 7.547 0 016.648 6.61a.75.75 0 00-1.152-.082A9 9 0 1015.68 4.534a7.46 7.46 0 01-2.717-2.248zM15.75 14.25a3.75 3.75 0 11-7.313-1.172c.628.465 1.35.81 2.133 1a5.99 5.99 0 011.925-3.545 3.75 3.75 0 013.255 3.717z" clip-rule="evenodd" />
              </svg> -->
